.cards{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}

.card{
   align-items: center; 
justify-content: center;
flex-direction: column;
display: flex;

}

.card:hover{

    box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 8px 0;


}
.heading{

font-size: 1000px;



}
